<people-list>

    <h3>People List</h3>

    <ul>
        <li each='{opts.mypeople}'> Hello, my name is
            <strong>{name}</strong> and my favorite color is
            <strong>{favcolor}</strong>
        </li>
    </ul>

    <script>

    </script>

</people-list>